.wrapper {
  width: 100px;
  height: 100px;
  background: deepskyblue;
  display: inline-block;
  margin: 30px;
}

.bezier {
  width: 100px;
  height: 100px;
  background: #3bafda;
  transition: width 2s;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.bezier:hover {
  width:300px;
}