<div [ngClass]="showDefault?'light':'dark'">

  <div>
    <button class="com-button btn-border btn-box" (click)="changeTheme()">切换</button>
    <button class="com-button btn-border btn-box" [disabled]="isLoading?'disabled':''">不可点击</button>
  </div>

  <div>
    <button class="com-button">11</button>
    <button class="com-button btn-square" (click)="createBasicMessage()">Message</button>
    <button class="com-button btn-rounded">22</button>
    <button class="com-button btn-box">33</button>
    <button class="com-button btn-pill">44</button>
  </div>

  <div>
    <button class="com-button btn-primary">11</button>
    <button class="com-button btn-primary btn-square">22</button>
    <button class="com-button btn-primary btn-rounded">按钮3</button>
    <button class="com-button btn-primary btn-box">按钮4</button>
    <button class="com-button btn-primary btn-pill">按钮5</button>
  </div>

  <div>
    <button class="com-button btn-border">按钮1</button>
    <button class="com-button btn-border btn-square">按钮2</button>
    <button class="com-button btn-border btn-rounded">按钮3</button>
    <button class="com-button btn-border btn-box">按钮4</button>
    <button class="com-button btn-border btn-pill">按钮5</button>
  </div>

  <div>
    <button class="com-button btn-primary btn-glow">按钮1</button>
    <button class="com-button btn-primary btn-glow btn-square">按钮2</button>
    <button class="com-button btn-primary btn-glow btn-rounded">按钮3</button>
    <button class="com-button btn-primary btn-glow btn-box">按钮4</button>
    <button class="com-button btn-primary btn-glow btn-pill">按钮5</button>
  </div>

  <div>
    <button class="com-button btn-primary btn-glow">按钮1</button>
    <button class="com-button btn-primary btn-glow btn-square">按钮2</button>
    <button class="com-button btn-primary btn-glow btn-rounded">按钮3</button>
    <button class="com-button btn-primary btn-glow btn-box">按钮4</button>
    <button class="com-button btn-primary btn-glow btn-pill">按钮5</button>
  </div>

  <div>
    <button class="com-button btn-3d-primary btn-primary">按钮1</button>
    <button class="com-button btn-3d-primary btn-primary btn-square">按钮2</button>
    <button class="com-button btn-3d-primary btn-primary btn-rounded">按钮3</button>
    <button class="com-button btn-3d-primary btn-primary btn-box">按钮4</button>
    <button class="com-button btn-3d-primary btn-primary btn-pill">按钮5</button>
  </div>

  <div style="margin: 40px;display: flex;flex-direction: row">

    <com-button text="下载" iconUrl="download.png" iconMode="left" [br]="0"></com-button>

    <com-button text="下载" iconUrl="download.png" iconMode="right" [br]="4"></com-button>

    <com-button iconUrl="download.png" iconMode="icon" [lr]="3" [br]="40"></com-button>

    <com-button text="下载" iconUrl="download.png" iconMode="left" [br]="200"></com-button>

    <com-button text="下载" iconUrl="download.png" iconMode="right"></com-button>

    <com-button iconUrl="download.png" iconMode="icon" [lr]="3"></com-button>

  </div>


  <!--message-->
  <com-message [zMessage]="message"></com-message>

</div>