<nav class="main-navigation">
  <a href="" [class.active]="isActiveRoute('/demo/base')" routerLink='base'>Index</a>
  <a href="" [class.active]="isActiveRoute('/demo/button')" routerLink='button'>button</a>
  <a href="" [class.active]="isActiveRoute('/demo/checkstyle')" routerLink='checkstyle'>checkstyle</a>
  <a href="" [class.active]="isActiveRoute('/demo/dropdown')" routerLink='dropdown'>dropdown</a>
  <a href="" [class.active]="isActiveRoute('/demo/pager')" routerLink='pager'>pager</a>
  <a href="" [class.active]="isActiveRoute('/demo/dialog')" routerLink='dialog'>dialog</a>
  <a href="" [class.active]="isActiveRoute('/demo/pipe')" routerLink='pipe'>pipe</a>
  <a href="" [class.active]="isActiveRoute('/demo/animation')" routerLink='animation'>animation</a>
  <a href="" [class.active]="isActiveRoute()" routerLink='routing'>routing-ani</a>
  <a href="" [class.active]="isActiveRoute('/demo/table')" routerLink='table'>table</a>
  <a href="" [class.active]="isActiveRoute('/demo/tooltip')" routerLink='tooltip'>tooltip</a>
  <a href="" [class.active]="isActiveRoute('/demo/echart')" routerLink='echart'>echart</a>
  <a href="" [class.active]="isActiveRoute('/demo/status')" routerLink='status'>status</a>
  <a href="" [class.active]="isActiveRoute('/demo/anchor')" routerLink='anchor'>Anchor锚点</a>
  <a href="" [class.active]="isActiveRoute('/demo/sticky')" routerLink='sticky'>sticky</a>
</nav>

<div class="loading-stage" @loadingAnimation *ngIf="!ready">
  <div class="text"> loading ({{ percentage }}%)</div>
</div>

<div class="demo-container" *ngIf="ready">
  <router-outlet></router-outlet>
</div>