.loading-stage {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: url("../../../assets/images/gallery/38.jpg") no-repeat;
  background-size: 100% 100%;
  opacity: .95;
  z-index:100000;
  .text {
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:50px;
    line-height:80px;
    color: #ffffff;
  }
}