<div style="width: 400px;padding-top: 60px">
  <div style="margin: 20px 0">
    <!--单选-->
    <com-check-style [items]="items1" (selChanged)="selRadioChanged($event)"></com-check-style>
  </div>

  <div style="margin: 20px 0">
    <!--多选-->
    <com-check-style [items]="items2" type="checkbox" (selChanged)="selCheckChanged($event)"></com-check-style>
  </div>

  <div style="margin: 20px 0">
    <!--多选-->
    <com-check-style [items]="items2" type="hook" (selChanged)="selCheckChanged($event)"></com-check-style>
  </div>
</div>
