<div class="basics-area">
  <section class="basics-intro">
    <div class="content-area"  [@contentAnimation]="section">
      <div class="inner-section" [class.visible]="visibleSection==sections.intro">
        <div class="details">
          <h2>One Angular Animation</h2>
          <h2>One Angular Animation</h2>
          <h2>One Angular Animation</h2>
          <h2>键盘上下键可切换内容</h2>
        </div>
      </div>
      <div class="inner-section" [class.visible]="visibleSection==sections.triggers">
        <div class="details">
          <h2>Two Angular Animation</h2>
          <h2>Two Angular Animation</h2>
          <h2>Two Angular Animation</h2>
          <h2>键盘上下键可切换内容</h2>
        </div>
      </div>
      <div class="inner-section" [class.visible]="visibleSection==sections.component">
        <div class="details">
          <h2>Three Angular Animation</h2>
          <h2>Three Angular Animation</h2>
          <h2>Three Angular Animation</h2>
          <h2>键盘上下键可切换内容</h2>
        </div>
      </div>
      <div class="inner-section" [class.visible]="visibleSection==sections.animateStyle">
        <div class="details">
          <h2>Four Angular Animation</h2>
          <h2>Four Angular Animation</h2>
          <h2>Four Angular Animation</h2>
          <h2>键盘上下键可切换内容</h2>
        </div>
      </div>
      <div class="inner-section" [class.visible]="visibleSection==sections.insertionRemoval">
        <div class="details">
          <h2>Five Angular Animation</h2>
          <h2>Five Angular Animation</h2>
          <h2>Five Angular Animation</h2>
          <h2>Five Angular Animation</h2>
        </div>
      </div>
      <div class="inner-section" [class.visible]="visibleSection==sections.animationCallback">
        <div class="details">
          <h2>Six Angular Animation</h2>
          <h2>Six Angular Animation</h2>
          <h2>Six Angular Animation</h2>
          <h2>键盘上下键可切换内容</h2>
        </div>
      </div>
    </div>
  </section>

  <ol class="menu menu-area">
    <li [class.selected]="isActive(sections.intro)" (click)="section=sections.intro">One Animations</li>
    <li [class.selected]="isActive(sections.triggers)" (click)="section=sections.triggers">Two Animations</li>
    <li [class.selected]="isActive(sections.component)" (click)="section=sections.component">Three Animations</li>
    <li [class.selected]="isActive(sections.animateStyle)" (click)="section=sections.animateStyle">Four Animations</li>
    <li [class.selected]="isActive(sections.insertionRemoval)" (click)="section=sections.insertionRemoval">Five Animations</li>
    <li [class.selected]="isActive(sections.animationCallback)" (click)="section=sections.animationCallback">Six Animations</li>
  </ol>

</div>