<div class="main-route-navigation">
  <a href="" routerLink="page1" [class.active]="isRouteActive('1')">1</a>
  <a href="" routerLink="page2" [class.active]="isRouteActive('2')">2</a>
  <a href="" routerLink="page3" [class.active]="isRouteActive('3')">3</a>
  <a href="" routerLink="page4" [class.active]="isRouteActive('4')">4</a>
  <a href="" routerLink="page5" [class.active]="isRouteActive('5')">5</a>
</div>

<div class="main-route-container">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
