<div style="border: 1px solid #ddd;" class="sticky-main">

   <div style="width: 100%;height: 400px;"></div>

   <div style="width: 100%;height: 200px;">
      <com-sticky [view]="stickyView" [container]="demoDocViewerMain" [zIndex]="1000">
         <div style="width: 200px;height: 200px;background: #3bafda;margin: 60px;">
            com-sticky
         </div>
      </com-sticky>
   </div>
   

   <div style="width: 90%;margin: 0 auto;">
      <div style="border: 1px solid #ddd;width: 100%;height: 400px;margin: 20px 0;"><h3>基本信息</h3></div>
      <div style="border: 1px solid #ddd;width: 100%;height: 400px;margin: 20px 0;"><h3>需求列表</h3></div>
      <div style="border: 1px solid #ddd;width: 100%;height: 400px;margin: 20px 0;"><h3>用例列表</h3></div>
      <div style="border: 1px solid #ddd;width: 100%;height: 400px;margin: 20px 0;"><h3>质量评估</h3></div>
   </div>

</div>