<div style="padding: 160px">

  <com-tooltip [content]="'温馨提示（top）'" [topClass]="true" [tipContent]="'温馨提示：点击进入温馨提示页'"></com-tooltip>

  <p style="margin: 10px"></p>

  <com-tooltip [content]="'温馨提示（bottom）'" [bottomClass]="true" [tipContent]="'温馨提示：点击进入温馨提示页'"></com-tooltip>

  <p style="margin: 80px 10px"></p>

  <com-tooltip [content]="'温馨提示（right）'" [rightClass]="true" [tipContent]="'温馨提示：点击进入温馨提示页'"></com-tooltip>

  <p style="margin: 10px"></p>

  <com-tooltip [content]="'温馨提示（left）'" [leftClass]="true" [tipContent]="'温馨提示：点击进入温馨提示页'"></com-tooltip>

</div>