<div style="margin-top: 60px;"></div>

<div style="width: 90%;">
  <h1>上固定上下滚动</h1>
  <com-table [type]="1">
    <thead name="thead">
      <tr>
        <th width="6%">序号</th>
        <th width="14%">准考证号</th>
        <th width="14%">姓名</th>
        <th width="10%">学科</th>
        <th width="8%">校级排名</th>
        <th width="8%">校次进退步</th>
        <th width="8%">班级排名</th>
        <th width="8%">班次进退步</th>
        <th width="24%" data-tableexport-display="none">操作</th>
      </tr>
    </thead>

    <tbody name="tbody">
      <tr>
            <td width="6%">1</td>
            <td width="14%">1234566789123456678912345667891234566789</td>
            <td width="14%">张正宜</td>
            <td width="10%">语文</td>
            <td width="8%">100</td>
            <td width="8%">100</td>
            <td width="8%">100</td>
            <td width="8%">100</td>
            <td width="24%">555</td>
          </tr>

          <tr>
            <td width="6%">1</td><td width="14%">1234566789</td><td width="14%">张正宜</td><td width="10%">语文</td>
            <td width="8%">100</td><td width="8%">100</td><td width="8%">100</td><td width="8%">100</td><td width="24%">555</td>
          </tr>

          <tr>
            <td width="6%">1</td><td width="14%">1234566789</td><td width="14%">张正宜</td><td width="10%">语文</td>
            <td width="8%">100</td><td width="8%">100</td><td width="8%">100</td><td width="8%">100</td><td width="24%">555</td>
          </tr>

          <tr>
            <td width="6%">1</td><td width="14%">1234566789</td><td width="14%">张正宜</td><td width="10%">语文</td>
            <td width="8%">100</td><td width="8%">100</td><td width="8%">100</td><td width="8%">100</td><td width="24%">555</td>
          </tr>
    </tbody>

  </com-table>
</div>
 
<div style="width: 90%;">
  <h1>左右滚动</h1>
  <com-table [type]="2">
    <thead name="thead2">
      <tr>
        <th style="min-width: 60px" rowspan="2">序 号</th>
        <th style="min-width: 100px" rowspan="2">准考证号</th>
        <th style="min-width: 100px" rowspan="2">姓名</th>
        <th colspan="5">总分</th>
        <th style="min-width: 80px" rowspan="2">语文</th>
        <th style="min-width: 80px" rowspan="2">数学</th>
        <th style="min-width: 80px" rowspan="2">英语</th>
        <th style="min-width: 80px" rowspan="2">物理</th>
      </tr>

      <tr>
        <th style="min-width: 80px">总分</th>
        <th style="min-width: 100px">校级排名</th>
        <th style="min-width: 100px">校次进退步</th>
        <th style="min-width: 100px">班级排名</th>
        <th style="min-width: 100px">班次进退步</th>
      </tr>
    </thead>

    <tbody name="tbody2">
      <tr>
        <td>1</td><td>123456789</td><td>张正宜张正宜张正宜张正宜</td><td>666</td><td>10</td>
        <td>2</td><td>2</td><td>3</td><td>100</td><td>111</td><td>109</td><td>120</td>
      </tr>

      <tr>
        <td>1</td><td>123456789</td><td>张正宜</td><td>666</td><td>10</td>
        <td>2</td><td>2</td><td>3</td><td>100</td><td>111</td><td>109</td><td>120</td>
      </tr>
    </tbody>

  </com-table>
</div>

<div style="width: 90%;">
  <h1>左固定</h1>
  <com-table [type]="3" width='900'>
    <thead name="thead3-l">
      <tr>
        <th width="1%" style="border: none;background: #fff;padding: 2px 0"></th>
        <th style="min-width: 60px" rowspan="2">序 号</th>
        <th style="min-width: 100px" rowspan="2">准考证号</th>
        <th style="min-width: 100px" rowspan="2">姓名</th>
      </tr>
      <tr>
        <th style="white-space: nowrap;border: none;background: #fff"></th>
      </tr>
    </thead>

    <tbody name="tbody3-l">
      <tr>
        <td style="border: none;"></td><td>1</td><td>123456789</td><td>张正宜</td>
      </tr>
    </tbody>

    <thead name="thead3-r">
      <tr>
        <th colspan="5">总分</th>
        <th style="min-width: 80px" rowspan="2">语文</th>
        <th style="min-width: 80px" rowspan="2">数学</th>
        <th style="min-width: 80px" rowspan="2">英语</th>
        <th style="min-width: 80px" rowspan="2">物理</th>
      </tr>
      <tr>
        <th style="min-width: 80px">总分</th>
        <th style="min-width: 100px">校级排名</th>
        <th style="min-width: 100px">校次进退步</th>
        <th style="min-width: 100px">班级排名</th>
        <th style="min-width: 100px">班次进退步</th>
      </tr>
    </thead>

    <tbody name="tbody3-r">
      <tr>
        <td>666</td><td>10</td><td>2</td><td>2</td><td>3</td>
        <td>100</td><td>111</td><td>109</td><td>120</td>
      </tr>
    </tbody>

  </com-table>
</div>

<div style="width: 90%;">
  <h1>左固定</h1>
  <com-table [type]="4" width='900'>
    <thead name="thead4-l">
      <tr>
        <th style="min-width: 60px" rowspan="2">序 号</th>
        <th style="min-width: 100px" rowspan="2">准考证号</th>
        <th style="min-width: 100px" rowspan="2">姓名</th>
      </tr>
    </thead>

    <tbody name="tbody4-l">
      <tr>
        <td style="min-width: 60px">1</td><td style="min-width: 100px">123456789</td><td style="min-width: 100px">张正宜</td>
      </tr>

      <tr>
        <td style="min-width: 60px">1</td><td style="min-width: 100px">123456789</td><td style="min-width: 100px">张正宜</td>
      </tr>

      <tr>
        <td style="min-width: 60px">1</td><td style="min-width: 100px">123456789</td><td style="min-width: 100px">张正宜</td>
      </tr>

      <tr>
        <td style="min-width: 60px">1</td><td style="min-width: 100px">123456789</td><td style="min-width: 100px">张正宜</td>
      </tr>

      <tr>
        <td style="min-width: 60px">1</td><td style="min-width: 100px">123456789</td><td style="min-width: 100px">张正宜</td>
      </tr>
    </tbody>

    <thead name="thead4-r">
      <tr>
        <th style="min-width: 100px">学科</th>
        <th style="min-width: 100px">校级排名</th>
        <th style="min-width: 100px">校次进退步</th>
        <th style="min-width: 100px">班级排名</th>
        <th style="min-width: 100px">班次进退步</th>
        <th style="min-width: 100px">语文</th>
        <th style="min-width: 100px">数学</th>
        <th style="min-width: 100px">语文</th>
        <th style="min-width: 100px">数学</th>
      </tr>
    </thead>

    <tbody name="tbody4-r">
      <tr>
        <td style="min-width: 100px">语文</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
      </tr>

      <tr>
        <td style="min-width: 100px">语文</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
      </tr>

      <tr>
        <td style="min-width: 100px">语文</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
      </tr>

      <tr>
        <td style="min-width: 100px">语文</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
      </tr>

      <tr>
        <td style="min-width: 100px">语文</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
        <td style="min-width: 100px">100</td>
      </tr>
    </tbody>
  </com-table>
</div>