<div style="display: inline-block" [ngStyle]="{'min-width':width+'px'}">
  <div class="select" [ngStyle]="{'height':height+'px','line-height':height+'px'}"
       [ngClass]="{'border-bottom-none': isShow}"
       (click)="clickSelect($event)" (appClickOutside)="clickOutsideEvent()">
    <ng-container *ngIf="curItem.length>0">
      <span class="default-span" *ngFor="let res of curItem">{{res.name}}</span>
    </ng-container>
    <ng-container *ngIf="curItem.length==0">
      <span class="default-span">{{text}}</span>
    </ng-container>
    <i *ngIf="type=='multiple' && curItem.length > 0" [ngStyle]="{'top':top}" class="dropdown-clear" (click)="clearItems($event)"></i>
    <i [ngStyle]="{'top':top}" [ngClass]="{'down': !isShow,'up': isShow}"></i>
  </div>
  <div *ngIf="isShow" class="options">
    <p *ngFor="let item of list" [ngStyle]="{'line-height':lineHeight+'px'}" (click)="selOption($event,item)">
      <ng-container *ngIf="!item.hide">{{item.name}}</ng-container>
    </p>
  </div>
</div>

